.header{
    background-color: black;
    color: white;
    height: 150px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image{
    height: 150px;
}