.App {
  text-align: center;
}

.nextButton {
  width: 80px;
  border-radius: 5px;
  background-color: #f5dd07;
  color: #d90104;
  border-color: white;
}
.nextButton:hover {
  background-color: #f74a06;
  color: black;
}
